@import 'locomotive-scroll/dist/locomotive-scroll.css';

:root {
  --bg-body-dark: #030004;
  --bg-breadcumbs1: #9189e6;
  --bg-breadcumbs2: #fff;
  --bg-card-dark: #322c7b;
  --bg-green: #9fed61;
  --bg-white: #fff;
  --border-radius: 1em;
  --color-button: #fff;
  --color-white: #fff;
  --text-black: #030004;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-body-dark);
  color: var(--color-white);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

section {
  display: flex;
  width: 100vw;
  min-height: calc(100vh - 120px);
}

.container {
  width: calc(100% - 100px);
  height: 100%;
  margin: auto;
  position: relative;
}

.padded {
  padding: 2rem;
}

.title {
  font-size: 6em;
  line-height: 1em;
  font-weight: 900;
}

.skills {
  margin-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  & small {
    color: var(--text-black);
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;

    &:nth-child(2n) {
      background-color: var(--bg-breadcumbs1);
    }

    &:nth-child(2n + 1) {
      background-color: var(--bg-breadcumbs2);
    }
  }
}

@media (200px <= width <= 600px) {
  .container {
    width: calc(100% - 40px);
  }
  .title {
    font-size: 4em;
  }
  section{
    .container{
      height: calc(100vh - 70px);
      padding-inline: 0px;

      
    }
  }
}

/*==================== 
  LOCOMOTIVE SCROLL CSS
====================*/

.c-scrollbar_thumb {
  background-color: #ddd;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: calc(100vh - 120px);
}

[data-scroll-direction='horizontal'] [data-scroll-container] {
  height: calc(100vh - 120px);
  display: block;
}
