---
import About from "@components/About.astro";
import Banner from "@components/Banner.astro";
import Porfolios from "@components/Portfolios.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Portfolio">
 <main data-scroll-container>
  <Banner />
  <About />
  <Porfolios/>
 </main>
 <script src='../config/locomotive.js'></script>
</BaseLayout>