---
import Social from './Social.astro'
import { Image } from 'astro:assets'
import profilePhoto from '../images/photo.jpeg'
---

<section class="about">
  <div class="container">
    <h1 class="title">About<br />me</h1>
    <div class="about__content">
      <div class="content__box">
        <Image class='box__image' src={profilePhoto} alt="Photo by Paul torres" />
        <h3 class="box__subtitle">Would you like to know about me?</h3>
        <p class="box__description">
          I am a software developer more focused on being a fullstack developer,
          I am 21 years old, throughout my career I have learned a lot and have
          acquired different skills, highlighting being a responsible and
          proactive person. I like to train myself in what I do and acquire
          knowledge.
        </p>
        <Social />
      </div>
    </div>
  </div>
</section>

<style>
  .about {
    padding-inline: 25px;

    .about__content {
      display: flex;
      justify-content: flex-end;
      padding-inline: 25px;

      .content__box {
        padding: 25px;
        max-width: 500px;
        max-height: 300px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        .box__image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 0 -160px;
          border-radius: var(--border-radius);
        }
      }
    }
  }
</style>
