---

---

<header>
  <div class="container">
    <a class="header__logo" href="/">saekaronw.</a>
  </div>
</header>

<style>
  header {
    z-index: 3;
    width: 100%;
    padding-block: 20px;
    
    .header__logo {
      color: var(--color-white);
    }
  }

  @media (200px <= width <= 600px){
    header{
     
    }
  }
</style>
