---
import Porfolio from '@components/Porfolio.astro'
import BaseLayout from '@layouts/BaseLayout.astro'

const { id } = Astro.params
---

<BaseLayout>
  <main data-barba="container">
    <Porfolio portfolioId={id} />
  </main>
</BaseLayout>


