---
import Porfolio from '@components/Porfolio.astro'
import BaseLayout from '@layouts/BaseLayout.astro'

const { id } = Astro.params
---

<BaseLayout>
  <main>
    <Porfolio portfolioId={id} />
  </main>
</BaseLayout>

<style>
</style>
